/node_modules
/public/hot
/public/postimages
/public/thumbnails
/public/uploadedimages
/public/zip
/public/marketing-old
/public/marketing/*
/public/storage
/storage
/storage/*.key
/public/pdfConvert
/public/imageConvert
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/app.php
composer.lock
composer.json
*.xml
public/Generated.zip
*.ttf
*.ufm
