.small-charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

.small-charts .chart .value {
    font-size: 25px !important;
    font-family: "gothicbold";
}
.small-charts .chart p {
    font-size: 14px;
    font-family: "gothicbold";
    color: #aeadae;
}

.small-charts .chart {
    height: 115px;
    padding: 10px;
    border-width: 4px !important;
    border-radius: 5px;
}

.small-charts .circle {
    height: 82px;
    width: 82px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.small-charts .blue .circle {
    background-color: #0c4975;
}

.small-charts .yellow .circle {
    background-color: #f7c00c;
}
.small-charts .green .circle {
    background-color: #75b241;
}
.small-charts .orange .circle {
    background-color: #f5771f;
}
.small-charts .chart.orange {
    border-color: #f48c43 !important;
}

.small-charts .chart.blue {
    border-color: #34576e !important;
}

.small-charts .chart.green {
    border-color: #8bb26a !important;
}

.small-charts .chart.yellow {
    border-color: #e4be5a !important;
}

.box-charts {
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    row-gap: 15px;
}

.table-action .btn-action {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #ebe9eb;
}

.table-box-header {
    border-bottom: 2px solid #ebeaeb;
    padding-bottom: 15px;
}

.filter-select {
    width: 175px;
}

.filter-search {
    width: 350px;
}

.table-box-footer {
    border-top: 2px solid #ebeaeb;
    padding-top: 15px;
}

.table-box-footer .btn-action {
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid black;
    font-family: "gothicbold";
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.subject-property-filter {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    gap: 10px;
}

.subject-property-filter .icon {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f4b77;
    color: white;
    font-size: 27px;
}

.subject-property-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.subject-property-details div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 20px;
    border-right: 2px solid rgb(218 218 218 / 67%);
}

.subject-property-details div h5 {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.subject-property-details div.border-none {
    border: none !important;
}

.subject-property-details div select {
    height: 35px !important;
    font-size: 15px;
}

.market-analysis-rows {
    height: 450px;
    overflow-y: auto;
}

.market-analysis-rows .market-analysis-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.market-analysis-rows .market-analysis-row img {
    width: 100%;
    height: 240px;
}

.market-analysis-rows::-webkit-scrollbar {
    width: 7px;
}

.market-analysis-rows::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.market-analysis-rows::-webkit-scrollbar-thumb {
    background: #888;
}

.market-analysis-rows::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.market-analysis-rows .market-analysis-row .image-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    bottom: 0px;
    height: 60px;
    width: 100%;
    color: white;
    padding: 5px;
}

.market-analysis-rows .market-analysis-row .image-overlay-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.market-analysis-rows .market-analysis-row .subject-property-details div {
    padding: 0px;
    margin: 0px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 20px;
}

.market-analysis-rows .market-analysis-row .sqft-price {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.market-analysis-rows .market-analysis-row .subject-property-details div h6 {
    text-align: center;
    margin: 0px;
}

.market-analysis-rows .market-analysis-row .location {
    font-size: 11px;
    margin: 0;
}

.market-analysis-row .table-market-analysis {
    width: 100%;
}

.div-table-market-analysis {
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
    background-color: white;
}

.market-analysis-row .table-market-analysis td p {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    color: #939293;
}

.market-analysis-row .table-market-analysis td .flex {
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
}

.table-action .edit-btn {
    font-size: 12px;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-luxe {
    font-size: 14px;
}

.form-role {
    font-size: 13px;
    height: 25px !important;
    padding: 0px;
    margin: 0px;
    width: 150px;
}

.h-title {
    font-family: "gothicbold";
}

.table-action .btn-action-div {
    display: inline-block;
}

.market-analysis-row .image-checkbox {
    position: absolute;
    top: 15px;
    right: 15px;
}

.market-analysis-row .image-checkbox input[type="checkbox"] {
    transform: scale(1.5);
}

.market-anysis-rows-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 3px 13px -5px rgba(194, 137, 137, 0.75);
    padding: 13px 20px;
}

.market-anysis-rows-header .filter-buttons button {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.295);
}

.dropdown-search-filter {
    top: 35px !important;
    left: -40rem !important;
    width: 683px;
    will-change: unset !important;
    transform: unset !important;
    padding: 20px;
    padding-top: 10px;
    background-color: #f8f8f8 !important;
}

.form-min-max {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    align-items: center;
}

.form-min-max div {
    background-color: #ecebec;
    width: 30px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-min-max input:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form-min-max input:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.circle-analytic div.circle {
    height: 70px;
    line-height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid #96c4df;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.circle-analytic {
    text-align: center;
}

.gothicBold {
    font-family: "gothicbold" !important;
}

.gothicRegular {
    font-family: "gothicregular" !important;
}

.circle-analytic div.circle span {
    font-family: "gothicbold";
    font-weight: bold;
}

.circle-analytic p {
    font-family: "gothicregular";
    font-size: 14px;
}

.comparables-div {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.comparables-div .title-p.green {
    background: #40a811;
}

.comparables-div .title-p {
    color: white;
    display: inline-block;
    border-radius: 7px;
    padding: 0px 10px;
    font-family: "gothicbold";
}

.comparables-div .title-p.orange {
    background: #fc771c;
}

.comparables-div .title-p.grey {
    background: #5c5a5c;
}

.comparables-div p {
    padding: 0px;
    margin: 0px;
    font-family: "gothicregular";
}

.comparables-div.border-bottom-div {
}

.comparables-div .price {
    font-size: 20px;
    font-family: "gothicbold";
}

.comparables-div .under-price {
    font-size: 15px;
    font-family: "gothicbold";
}

.comparables-div .price-div span {
    font-size: 15px;
    font-family: "gothicbold";
    color: black;
}

.comparables-div .price-div {
    color: #6e6d6e;
}

.comparables-div .last-p {
    font-family: "gothicbold";
    color: #6e6d6e;
}

.table-box-header h5 {
    font-family: "gothicbold";
}

.suggested-range label {
    border-radius: 5px;
    padding: 0px 5px;
    margin: 2px;
}

.circle-last .circle-analytic div.circle {
    width: 124px;
    height: 124px;
    line-height: 124px;
    font-size: 25px;
}

.circle-last .circle-analytic a span {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 3px 5px;
}

.table-box-footer.border-none {
    border: unset !important;
    padding: 0px;
}

/* Table Rows */

.table-cma {
    border: none !important;
    border: 1px solid #e4e2e4 !important;
    border-collapse: collapse;
    border-style: hidden;
    font-family: "gothicregular";
    font-size: 15px;
}

.table-cma thead th {
    border: none !important;
}

.table-cma tbody tr:nth-child(2n + 1) {
    background-color: #f8f6f8;
}

.table-cma tbody tr:nth-child(2n + 0),
.table-cma thead tr {
    background-color: #fcfbfd;
}

.table-cma thead tr th,
.table-cma tbody .center {
    text-align: center;
}

.table-cma td,
.table-cma th {
    border: 1px solid #e4e2e4;
}

.table-form label {
    font-size: 13px;
    color: #d0cfd0;
}

.table-cma td,
.table-cma th {
    padding: 0.3rem;
}
#UnparsedAddress {
    width: 312px;
}
@media (max-width: 992px) {
    #UnparsedAddress {
        width: 90%;
    }
    .market-analysis-rows .market-analysis-row {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .subject-property-details {
        justify-content: center;
    }

    .subject-property-details div {
        border-right: unset;
    }

    .table-action .btn-action-div:first-child {
        margin-bottom: 20px;
    }

    .h5-title {
        font-size: 18px;
    }
}

@media (max-width: 1794px) {
    .market-analysis-rows .market-analysis-row {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Slider Input Range */

.input-range input {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: #e7e6e8;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
}

.input-range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #034a7a;
    cursor: pointer;
    border-radius: 50%;
}

.input-range input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
}

/* border bottom  */

.borderdivider {
    margin: 0px auto;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.bordermask:after {
    content: "";
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 22px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px #0000004b;
}

.bordermask {
    overflow: hidden;
    height: 20px;
}

/* Spinner */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-top: 2px solid #262626;
    border-right: 2px solid transparent;
    animation: spinner 0.6s linear infinite;
}

/* Select2 Dropdown & Input */

.select2-selection {
    border: 1px solid #ccc; /* Add a border to the input */
    border-radius: 4px; /* Add rounded corners */
    background-color: #fff; /* Set background color */
    color: #333; /* Set text color */
    height: calc(2.25rem + 2px) !important; /* Set height */
    width: 100% !important;
    padding-top: 4px;
    padding-left: 5px;
}

/* Add styles for when the input is focused */
.select2-selection:focus {
    outline: none; /* Remove outline */
    border-color: #66afe9; /* Add a border color */
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* Add a box shadow */
}
.select2-container {
    width: 300px !important;
}
.select2-dropdown {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px !important;
}
  body {
    min-height: 100vh;
  }
  
  .paytm-loader {
    color: #002e6e;
    width: 3px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    transform: translateX(-38px);
    animation: loader 0.5s infinite alternate linear;
    -webkit-box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    -webkit-transform: translateX(-38px);
    -webkit-animation: loader 0.5s infinite alternate linear;
  }
  
  @keyframes loader {
    50% {
      box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
    }
    100% {
      box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
    }
  }
  
  @-webkit-keyframes loader {
    50% {
      box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
    }
    100% {
      box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
    }
  }
  #loading {
    top: 0px;
    position: sticky;
    width: 100%;
    height: 100vh;
    left: 0px;
  }