.small-charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}
.small-charts .chart {
    height: 115px;
    padding: 10px;
    border-width: 4px !important;
    border-radius: 5px;
}
.small-charts .chart.orange {
    border-color: #F48C43 !important;
}
.small-charts .chart.blue {
    border-color: #34576E !important;
}
.small-charts .chart.green {
    border-color: #8BB26A !important;
}
.small-charts .chart.yellow {
    border-color: #E4BE5A !important;
}
.box-charts {
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px 10px;
    row-gap: 15px;
}
.table-action .btn-action {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #EBE9EB;
}
.table-box-header {
    border-bottom: 2px solid #EBEAEB;
    padding-bottom: 15px;
}

.filter-select {
    width: 175px;
}
.filter-search {
    width: 350px;
}
.table-box-footer {
    border-top: 2px solid #EBEAEB;
    padding-top: 15px;
}
.table-box-footer .btn-action {
    padding: 10px 20px;
    border-radius: 30px;
    border:2px solid black;
    font-family: 'gothicbold';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.subject-property-filter {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    gap: 10px;
}
.subject-property-filter .icon {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F4B77;
    color: white;
    font-size: 27px;
}
.subject-property-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.subject-property-details div {
    margin: 10px;
    padding: 0px 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.144);
}
.subject-property-details div h5 {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.subject-property-details div.border-none {
    border:none !important;
}
.subject-property-details div select {
    height: 35px !important;
    font-size: 15px;
}
.market-analysis-rows {
    height: 450px;
    overflow-y: auto;
}
.market-analysis-rows .market-analysis-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.market-analysis-rows .market-analysis-row img {
    width: 100%;
    height: 240px;
}
.market-analysis-rows::-webkit-scrollbar {
    width: 7px;
}
.market-analysis-rows::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.market-analysis-rows::-webkit-scrollbar-thumb {
    background: #888; 
}
.market-analysis-rows::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.market-analysis-rows .market-analysis-row .image-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    bottom: 0px;
    height: 60px;
    width: 100%;
    color: white;
    padding: 5px;

}
.market-analysis-rows .market-analysis-row .image-overlay-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.market-analysis-rows .market-analysis-row .subject-property-details div {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    font-size: 20px;
}
.market-analysis-rows .market-analysis-row .sqft-price {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
.market-analysis-rows .market-analysis-row .subject-property-details div h6 {
    text-align: center;
    margin: 0px;
}
.market-analysis-rows .market-analysis-row .location {
    font-size: 11px;
}
.market-analysis-row .table-market-analysis {
    width: 100%;
}
.div-table-market-analysis {
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
    
}
.market-analysis-row .table-market-analysis td p {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    color: #939293;
}
.market-analysis-row .table-market-analysis td .flex {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}
.table-action .edit-btn {
    font-size: 12px;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-luxe {
    font-size: 14px;
}
.form-role {
    font-size: 13px;
    height: 25px !important;
    padding: 0px;
    margin: 0px;
    width: 150px;
}
.h-title {
    font-family: "gothicbold";
}
.table-action .btn-action-div {
    display: inline-block;
}
.market-analysis-row .image-checkbox {
    position: absolute;
    top: 15px;
    right: 15px;
}

.market-analysis-row .image-checkbox input[type=checkbox] {
    transform: scale(1.5);
}
.market-anysis-rows-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 3px 13px -5px rgba(194,137,137,0.75);
    padding: 13px 20px;
}
.market-anysis-rows-header .filter-buttons button {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.295)
}
.dropdown-search-filter {
    top: 35px !important;
    left: -40.55rem !important;
    width:694px;
    will-change: unset !important;
    transform: unset !important;
    padding: 20px;
    padding-top: 10px;
    background-color: #f8f8f8 !important;
}
.form-min-max {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    align-items: center;

}
.form-min-max div {
    background-color: #ECEBEC;
    width: 30px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-min-max input:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.form-min-max input:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media (max-width: 992px) {
    .market-analysis-rows .market-analysis-row {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .subject-property-details {
        justify-content: center;
    }
    .subject-property-details div {
        border-right: unset;
    }
    .table-action .btn-action-div:first-child {
        margin-bottom: 20px;
    }
    .h5-title {
        font-size: 18px;
    }
}

@media (max-width: 1794px) {
    .market-analysis-rows .market-analysis-row {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
}