@font-face {
    font-family: "gothicbold";
    src: local("gothicbold"),
    url("/fonts/index-page/gothicbold.ttf") format("truetype");
}
@font-face {
    font-family: "gothicregular";
    src: local("gothicregular"),
    url("/fonts/index-page/gothicregular.ttf") format("truetype");
}
.form label {
    font-weight: bold;
}

.form .btn-luxe, .btn-luxe {
    background-color: #262626 !important;
    color: #fff !important;
    font-weight: bold;
    padding: 10px;
    font-family: 'gothicbold';
    font-size: 18px !important;
    border-radius: 33px;
}

.form .btn-danger {
    padding: 10px;
    border-radius: 33px;
}
.btn-danger,.btn-primary {
    font-family: 'gothicbold' !important;
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 10px;
}
