.sidebar-main {
    background-color: #262626;
    color: white;
    position: fixed;
    width: 407px;
    height: 88vh;
}
.sidebar.active {
    display: flex !important;
    position: absolute;
    z-index: 9;
    width: 100%;
}
.sidebar .sidebar__item {
    height: 63vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar-main .sidebar__item::-webkit-scrollbar {
    display: none;
}
.sidebar {
    position: relative;
    width: 407px;
    height: 100%;
}
.sidebar__item, .sidebar-logo-details {
    width: 70%;
    margin:20px auto;
}
.sidebar__item .active a {
    color: #fff !important;
    font-weight: bold;
}
.sidebar__item .active li a {
    color: #fff !important;
    font-weight: normal;
}
.sidebar-navigation ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.sidebar-navigation em {
    cursor: pointer;
}
.sidebar-navigation ul li ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.sidebar-navigation ul li ul li ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.sidebar-navigation ul li a {
    position: relative;
    display: block;
    padding: 15px 0px;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #A8A8A8;
    font-size: 18px;
    font-family: 'gothicregular';
}
.sidebar-navigation ul li:hover > a, .sidebar-navigation ul li.selected > a {
    color: white;
}
.sidebar-navigation ul li ul {
    display: none;
}
.sidebar-navigation ul li ul.open {
    display: block;
}
.sidebar-navigation ul li ul li:hover > a:before, .sidebar-navigation ul li ul li.selected > a:before {
    margin-right: 10px;
}
.sidebar-navigation ul li ul li.selected.selected--last > a {
    color: #fff;
}
.sidebar-navigation ul {
    margin: 0px;
    padding: 0px;
}
.sidebar-details {
    position: absolute;
    bottom: 0;
    width: 76%;
    left:50%;
    transform: translate(-50%, -0%);
}
.sidebar-details p {
    cursor: pointer;
}
.sidebar-details p .text {
    font-family: Montserrat;
    font-size: 18px;
}
.sidebar-details p span:not(.text) {
    margin-right: 15px;
}
.toggleSidebar {
    outline: none;
    border:none;
}
.toggleSidebar:focus {
    box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0) !important
}
@media screen and (max-width: 500px) {
    .sidebar {
        top: 0;
        background: rgba(0,0,0,0.40) !important
    }
    .sidebar-main {
        width: 327px;
        height: 100vh;
    }
    .sidebar-details {
        width: 88%;
    }
    .sidebar .sidebar__item {
        height: 56vh;
    }
    .sidebar__item, .sidebar-logo-details {
        width: 85%;
        margin:20px auto;
    }
    .sidebar-navigation ul li a {
        padding: 7px 0px;
        font-size: 16px !important;
    }
    .sidebar-logo-details-details {
        margin-top: 65px;
    }
    .sidebar-logo-details-details div {
        width: 90%;
    }

    .box-title h3 {
        font-size: 18px !important;
        font-family: 'gothicbold';
        color: #262626;
    }
}
@media (min-width: 768px) and (max-width: 980px){
    .sidebar-main {
        height: 90vh;
    }
    .sidebar-logo-details-details div {
        width: 90%;
    }
    .sidebar-details {
        width: 79%;
    }
}

.box-title h3 {
    font-size: 26px;
    font-family: 'gothicbold';
    color: #262626;
}
.box-title .p-show-pages {
    font-size: 16px !important;
    font-family: 'gothicregular';
    color: #262626;
}
.template-box {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    width: 304px !important;
    border-radius: 10px;
    margin-bottom: 60px;
}
.template-box .template-details {
    padding: 20px;
}
.template-box .template-details p {
    font-size: 18px;
    font-family: 'gothicbold';
    padding: 0px;
    margin: 0px;
    color: #262626;
}
.template-box .template-details #template-details-price {
    font-size: 18px;
    font-family: 'gothicregular';
    padding: 0px;
    margin: 0px;
    color: #262626;
}
.template-box img {
    border-radius: 10px 10px 0px 0px;
}
.template-box a {
    color: #262626;
    text-decoration: none;
}
.template-box a:hover {
    text-decoration: none;
    color: #262626;
}
.modal-new {
    color: #262626 !important;
}
.modal-new .modal-title {
    font-size: 26px !important;
    font-family: 'gothicbold';
}
.modal-new label {
    font-size: 18px;
    font-family: 'gothicregular';
}
.modal-new input, .modal-new select {
    border:1px solid #CCCCCC !important;
    font-size: 18px;
    font-family: 'gothicregular';
    /* padding: 13px !important; */
    height: 55px;
    line-height: 40px;
}
.modal-new select {
    height: 55px !important;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.modal-new .modal-footer {
    border: none !important
}
.modal-new .modal-dialog {
    max-width: 704px !important;
}
.modal-new .modal-body, .modal-new .modal-footer, .modal-new .modal-header {
    padding: 28px;
}
.modal-new .modal-footer button {
    width: 50%;
}
.modal-new .modal-footer button:first-child {
    background-color: #F2F2F2;
}
.modal-new .modal-footer button:not(.btn-danger):last-child {
    background-color: #262626;
    color: #FFFFFF;
}
.modal-new .modal-footer {
    gap: 7px;
}
.modal-new .modal-footer button {
    font-family: 'gothicbold';
    font-size: 18px;
    border-radius: 10px !important;
    padding: 10px;
}
.modal-new .modal-content {
    border: none !important
}
.modal-new .form-group {
    width: 100%;
}
#back {
    font-family: 'gothicbold';
    font-size: 18px;
    color: #262626;
    display: flex;
    align-items: center;
}
#back img {
    margin-right: 5px;
}

/* Pagination  */

.pagination .page-item .page-link {
    background-color: #F7F7F7;
    color: #262626;
    font-family: 'gothicregular';
    font-size: 18px;
    border: 1px solid transparent !important;
    margin: 5px 10px;
    border-radius: 10px !important;
    padding: 10px 17px;
}
.pagination .active .page-link {
    background-color: #262626 !important;
    color: #F7F7F7 !important;
}


/* Luxe Store  */

.luxe-store #preview-image {
    width: 100%;
    object-fit: cover;
}
.luxe-store .single-product-details #title {
    font-size: 32px;
    color: #262626;
    font-family: 'gothicregular';
}
.luxe-store .single-product-details #price {
    font-size: 22px;
    color: #262626;
    font-family: 'gothicbold';
}
.luxe-store .single-product-details #short-desc {
    font-size: 16px;
    font-family: 'gothicregular';
    color: #262626;
}
.luxe-store .single-product-details #categories {
    font-size: 18px !important;
    font-family: 'gothicregular';
    color: #262626;
}
.luxe-store #quantity-input {
    background-color: #F7F7F7;
    border: 2px solid #F7F7F7;
    width: 80px;
    border-radius: 10px;
}
.luxe-store #show-variants {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 20px 0px;
}
.luxe-store #select-option {
    background-color: #F7F7F7;
    border: 2px solid #F7F7F7;
    border-radius: 10px;
    height: 47px;
}

.luxe-store .single-product-details #variant-name {
    font-size: 16px;
    font-family: 'gothicbold';
    color: #262626;
}
.luxe-store .single-product-details #clear {
    font-size: 14px;
    font-family: 'gothicregular';
    color: #262626;
    text-decoration: underline;
    display: none;
}
.luxe-store .single-product-details #out-of-stock {
    font-size: 18px;
    font-family: 'gothicbold';
    color: #E82020;
}
.luxe-store .single-product-details #sale-price {
    color: #DEDEDE !important;
    font-size: 20px;
    font-family: 'gothicregular';
}
.luxe-store .single-product-details .form-inputs label {
    font-size: 16px;
    font-family: 'gothicbold';
    color: #262626;
}
.luxe-store .single-product-details .form-inputs input {
    background-color: #F7F7F7;
    border: 2px solid #F7F7F7;
    border-radius: 10px;
}
.box-table {
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}