/*@font-face {
    font-family: Lato-Regular;
    src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: url("/fonts/Lato-Light.ttf");
}

h1 {
    /*font-family: "Lato-Light";
}

.subtitle {
    font-size: 86px;
    line-height: 66px;
    font-weight: 300;
}*/
