.preview {
    width: 456px;
    height: 584px;
}
.preview-image {
    width: 456px !important;
    height: 658px !important;
    margin: auto;
}
.preview-image .box-images {
    border-left: 5px solid #C4A766;
    padding-left: 4px;
    height: 409px;
    margin-top: 8px;
}
.preview-image .box-images div {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
#preview-image-box {
    width: 456px !important;
    height: 658px !important;
    padding:7px;
}
.inner-image {
    width: 100%;
    position: relative !important;
    height: 181px !important;
}
.two-image {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
    margin-top: 5px;
}
.inner-image1, .inner-image2 {
    width: 50%;
    height: 75px !important;
}
.inner-image3 {
    width: 100%;
    height: 75px !important;
}
.image-bullet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.image-price {
    width: 49.6%;
}
.bullet {
    width: 49.6%;
}
.bullet .bullet-ul {
    
    height: 74px;
    overflow: hidden;
}
.bullet .bullet-div {
    border-left: 5px solid #000;
    padding-left: 4px;
}
.bullet .bullet-ul .bullet-bg {
    background-color: #C4A766;
    color: #fff;
    padding: 10px 20px;
}
.image-price .price-box {
    background-color: #000;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 10px;
    font-family: 'gothicbold';
    font-weight: bold;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.image-price .price-box p {
    font-size: 28px;
    font-family: 'Helvetica Neue LT Std';
    line-height: 0px;
    padding-top: 7px;
    font-weight: 900;
    color: #C4A46B;
}

ul {
    padding: 0px;
    padding-left: 16px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    font-family: 'Helvetica3';
}
.description {
    padding: 0px 9px;
    height: 160px;
}
.description #desc-title {
    font-weight: 500;
    font-family: 'Avenir LT Std';
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px; 
    color: #C4A766;
}
.description #desc-body {
    font-size: 11px;
    font-family: 'Helvetica3';
    line-height: 16px;
}
.logo img {
    height: 47px !important;
    width: 100% !important;
}
.header-text {
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.header-left {
    width: 48%;
}
.header-right {
    border-left: 5px solid #000;
    border-bottom: 5px solid #000;
    padding-left: 7px;
    display: flex;
    height: 90px;
    width: 48%;
}
.header-right-details {
    background-color: #C4A46B;
}
#title-1 {
    font-size: 43px;
    color: #c4a567;
    text-transform: uppercase;
    font-weight: 900;
    z-index: 999;
    letter-spacing: -2px;
    line-height: 27px;
    font-family: 'Avenir LT Std';
    margin: 0px;
    padding-top: 23px;
}
#title-2 {
    font-size: 43px;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    letter-spacing: -2px;
    text-align: left;
    z-index: 999;
    overflow: hidden;
    font-family: 'Helvetica Neue LT Std';
    margin: 0px;
}
.header-right-details .long-address {
    background-color: #876542;
    color: #fff;
    border-top: 1px solid #000;
    padding: 0px 20px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right-details .long-address p {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Helvetica3';
}
.long-date {
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#date, #time {
    font-family: 'Avenir LT Std';
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
#date {
    color: #fff;
}
#time {
    color: #000;
}
.contact-details {
    padding: 14px;
    background-color: #C4A766;
    width: calc(100% - 28px);
    margin-top: 5px;
    border-bottom: 5px solid #000;
}
#name {
    font-weight: normal;
    font-family: 'Avenir LT Std';
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
#address-static {
    font-size: 10px !important;
    color: #000;
    border-bottom: 1px solid #fff;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#phone, #email, #website, #location-static {
    font-size: 10px;
    font-family: 'Helvetica3';
    margin: 0px;
    padding: 3px 0px;
}
#phone {
    margin-top: 3px;
}
#phone img, #email img, #website img, #location-static img {
    width: 10px !important; 
    height: 10px !important;
    margin-right: 5px;
}