.tagify+input {
    display: block !important;
    position: static !important;
    transform: none !important;
    width: 100%;
    margin-top: 1em;
    padding: .5em;
}

.tagify__tag+.tagify__input::before {
    opacity: 0;
}

.tagify:not(.tagify--noTags) {
    --placeholder-color: transparent;
    --placeholder-color-focus: transparent;
}

.tag-input .tagify__input {
    height: 30px;
}

.tagify--mix .tagify__input {
    flex-wrap: wrap !important;
    min-height: 20px !important;
    line-height: 33px !important;
}
.tagify {
    width: 100% !important;
    overflow: auto !important;
    flex-wrap: unset !important;
}